:root {
  --nls-scroll-cards-count:           0;
  --nls-scroll-cards-progress:        0%;
}

.nls-scroll-cards {
  @apply relative;

  min-height: 100vh;

  &__item {
    @apply sticky top-0 inset-x-0 bg-white h-full overflow-hidden;

    height: 50vh;

    &__content {
      @apply h-full overflow-hidden relative w-2/3;
    }

    &__title {

    }

    .container {
      @apply h-full overflow-hidden;
    }
  }

  &__indicator {
    @apply sticky right-0 inset-y-0 hidden z-20 h-0 justify-end;

    @screen lg {
      @apply flex;
    }

    &__title {
      $this-icon-size: 0.4rem;

      @apply flex flex-row items-center w-1/3 text-right justify-end uppercase text-gray-600 text-sm relative;

      height: calc(calc(100% - var(--nls-scroll-cards-progress)) / var(--nls-scroll-cards-count));
      padding-right: $this-icon-size * 4;
      min-height: 2rem;
      // transition: height var(--transition-duration) var(--transition-timing-function);

      &:after {
        @apply absolute;

        content: "";
        right: - $this-icon-size * 0.5;
        // transform: scale(8);
        // background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIyMHB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjIwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzAwMDAwMCIgaWQ9IkNvcmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNzAuMDAwMDAwLCAtODYuMDAwMDAwKSI+PGcgaWQ9ImNoZWNrLWNpcmNsZS1vdXRsaW5lLWJsYW5rIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNzAuMDAwMDAwLCA4Ni4wMDAwMDApIj48cGF0aCBkPSJNMTAsMCBDNC41LDAgMCw0LjUgMCwxMCBDMCwxNS41IDQuNSwyMCAxMCwyMCBDMTUuNSwyMCAyMCwxNS41IDIwLDEwIEMyMCw0LjUgMTUuNSwwIDEwLDAgTDEwLDAgWiBNMTAsMTggQzUuNiwxOCAyLDE0LjQgMiwxMCBDMiw1LjYgNS42LDIgMTAsMiBDMTQuNCwyIDE4LDUuNiAxOCwxMCBDMTgsMTQuNCAxNC40LDE4IDEwLDE4IEwxMCwxOCBaIiBpZD0iU2hhcGUiLz48L2c+PC9nPjwvZz48L3N2Zz4=');
        // background-size: cover;
        height: $this-icon-size;
        width: $this-icon-size;
        background: theme('colors.gray.600');
        border-radius: $this-icon-size * 0.5;
      }
    }

    .container {
      @apply h-screen flex flex-col w-full items-end ml-0 pl-0 border-r p-0;

      margin-right: calc(calc(100vw - theme('screens.xl')) / 2);


    // height: 100vh;
    // overflow: hidden;
    // position: sticky;
    // top: 0;
    // display: flex;
    // flex-flow: column;
    // justify-content: space-around
    }
  }
}
