:root {
  --nls-scroll-cards-icon-size:   0.4rem;
  --nls-scroll-cards-bg:          255, 255, 255;
}

.nls-scroll-cards {
  @apply relative;

  min-height: 100vh;

  &__item {
    @apply bg-white h-full overflow-hidden relative;

    height: 80vh;

    &__content,
    a {
      @apply w-full;

      @screen lg {
        @apply w-2/3;
      }
    }

    &__content {
      @apply h-full overflow-hidden relative;

      &:after {
        @apply absolute inset-x-0 bottom-0 z-10;
  
        content: "";
        height: 80%;
        background-color: rgba(var(--nls-scroll-cards-bg), 0);
        background-image: linear-gradient(to bottom, rgba(var(--nls-scroll-cards-bg),0), rgba(var(--nls-scroll-cards-bg),1));
      }
    }

    &__title {

    }

    .container {
      @apply h-full overflow-hidden flex flex-col;
    }

    a {
      @apply z-20 py-12 block text-right;

      &:after {
        @apply pl-2 inline-block;

        content: "›";
        transform: translate3d(0, 0, 0);
      }

      &:hover,
      &:focus {
        
        &:after {
          transform: translate3d(theme('spacing.1'), 0, 0);
        }
      }
    }
  }

  &__indicator {
    @apply sticky right-0 inset-y-0 hidden z-20 h-0 justify-end;

    @screen lg {
      @apply flex;
    }

    &__title {
      @apply flex flex-row items-center h-full w-full text-right justify-end uppercase text-gray-600 text-sm relative font-bold;

      padding-right: calc(var(--nls-scroll-cards-icon-size) + 1rem);
      flex-shrink: 2;

      &--active {
        flex-shrink: 1;
        color: theme('colors.gray.900');

        &:after {
          background: theme('colors.gray.900');
        }

        .nls-scroll-cards__indicator__subtitle {
          @apply opacity-100 mt-2;
  
          max-height: 100%;      
        }
      }

      &:after {
        @apply absolute;

        content: "";
        right: calc(-1 * var(--nls-scroll-cards-icon-size) * 0.5);
        height: var(--nls-scroll-cards-icon-size);
        width: var(--nls-scroll-cards-icon-size); 
        background: theme('colors.gray.600');
        border-radius: calc(var(--nls-scroll-cards-icon-size) * 0.5);
      }
    }

    &__subtitle {
      @apply opacity-0 text-gray-600 normal-case font-hairline overflow-hidden mt-0;

      max-height: 0;
    }

    .container {
      @apply h-screen flex flex-col items-end ml-0 p-0 border-r w-56;

      @screen md {
        margin-right: calc(calc(100vw - theme('screens.md')) / 2);
      }

      @screen lg {
        margin-right: calc(calc(100vw - theme('screens.lg')) / 2);
      }

      @screen xl {
        margin-right: calc(calc(100vw - theme('screens.xl')) / 2);
      }
    }
  }
}
